.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

}

.navbar>a {
    text-decoration: none;
    text-align: center;
    color: #19191B;
    font-size: 14px;

}

.navbar>button {
    width: 211px;
    height: 50px;
    border-radius: 5px;
    background: #CAA892;
    color: white;
    border: 2px solid #CAA892;
    border-top-left-radius: 2vw;
    border-bottom-right-radius: 2vw;

}

@media (max-width: 1024px) {
    .navbar {
        gap: 80px;
    }

    .navbar>button {
        width: 180px;
        height: 45px;
    }
}

@media (max-width: 768px) {
    .navbar {
        gap: 40px;
    }

    .navbar>a {
        font-size: 12px;
    }

    .navbar>button {
        width: 150px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .navbar {
        height: auto;
        gap: 20px;
        padding: 20px 0;
    }

    .navbar>a {
        font-size: 14px;
    }

    .navbar>button {
        width: 130px;
        height: 35px;
        font-size: 12px;
    }
}