* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.hero {
    margin-left: 10vw;
    display: flex;
    align-items: center;
    max-width: 1100px;
    padding: 50px;
    border-radius: 15px;
}

.text-container {

    flex: 1;
    padding-right: 40px;
}

.text-container h4 {
    color: gray;
    font-size: 14px;
    margin-bottom: 10px;
}

.text-container h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
}

.text-container p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.contact-button {
    background-color: #2e7d32;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-top-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}


.hero img {
    width: 400px;
    border-radius: 20px;
    display: block;
}